.title {
    clear: both;
    font-size: 24px;
    padding-top: 20px;
    font-weight: 600;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.race {
    border-collapse: collapse;
    width: 100%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: bold;
}

.race td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.race tr:hover{background-color:#f5f5f5}

.container figure{
	margin: 20px;
	height: 80px;
}

.container img{
	height: 80px;
}

.race2 {
    font-family: "Gill Sans", "Gill Sans MT";
  font-weight: bold;
    border-collapse: collapse;
    width: 100%;
}

.race2 td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.race2 tr:nth-child(even){background-color: #f2f2f2}

.race2 tr:hover {background-color: #ddd;}
