section {
  background-color: darkred;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  text-align: center;
  padding: 0;
}

.sponsor {
  margin: 30px auto;
  max-width: 500px;
  padding: 30px;
  border: 4px double white;
}

span {
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 0;
}
