*{
	margin: 0px;
	padding: 0px;
}

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	text-align: left;
}

header, section, footer, aside, nav, article, figure {
    display: block; 
}

body{
	background-color: rgba(255,0,0, 0.2);
	text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

/*HEADER*/

header{
	width: 1000px;
	height: 120px;
	margin-top: 10px;
	background:url(../img/header.jpg);
	background-repeat: repeat;
	border-top-left-radius: 10px;
	border-top-right-radius:; 10px;
}

/*NAV*/

nav{
	width: 1000px;
	height: auto;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
	float: left;
	background:url(../img/menu-spacer.gif) 0 8px no-repeat;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

/*SECTION*/

section{
	width: 700px;
	height: 700px;
	float: left;
	border-radius: 10px;
	background:white;
	margin-top: 20px;
}

.articulo{
	width: 680px;
	height: 220px;
	float: left;
	margin: 10px;
	margin-top: 5px;
	border-radius: 10px;
	background: white;
}

.articulo a{
	text-decoration: none;
}
.articulo h2{
	background: linear-gradient(to right, rgba(0,255,0,0.3), rgba(0,255,0,0.8));
	width: 660px;
	height: auto;
	margin-top: 10px;
	margin-left: 10px;
	text-transform: uppercase;
}

.articulo figure{
	width: 660px;
	height: 150px;
	margin-left: 10px;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.articulo img{
	width: 50%;
	height: 150px;
	float: left;
}
.articulo figcaption{
	float: left;
	width: 49%;
	height: 200px;
	margin-left: 1%;
	text-align: justify;
}

#main-container{
    width:150px;
    height:80px;
    margin:0 auto;
    text-align:center;
    float: bottom;
}

.cuadrado{
    width:150px;
    height:40px;
    background-color:#2980b9;
    margin: 10px;
    color:#fff;
    line-height:50px;
}

.cuadrado:hover{
    background-color:#c0392b;
    width:200px;
    box-shadow:0px 0px 6px #000;
}

#transition{
  transition: background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
}

/*ASIDE*/

aside{
	width: 280px;
	background: white;
	height: 700px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
}

.ejemplo-1 img {
transition: all 0.2s linear;
}
.ejemplo-1 .mascara {
opacity: 0;
background-color: rgba(46,157,120, 0.7);
transition: all 0.3s ease-in-out;
}
.ejemplo-1 h2 {
transform: translateY(0px);
opacity: 0;
transition: all 0.7s ease-in-out;
}

.ejemplo-1:hover img {
transform: scale(1.1);
}

.ejemplo-1:hover .mascara {
opacity: 1;
}
.ejemplo-1:hover h2 {
opacity: 1;
transform: translateY(-200px);
}

.contenedor-img {
width: 280px;
height: 200px;
float: left;
overflow: hidden;
position: relative;
text-align: center;
cursor: default;
background: #fff;
margin-top: 22px;
display: block;
}
.contenedor-img .mascara{
width: 280px;
height: 200px;
position: absolute;
overflow: hidden;
top: 0;
left: 0px;
}
.contenedor-img img {
	display: block;
position: relative;
width: 280px;
height: 200px;
}
.contenedor-img h2 {
text-transform: uppercase;
color: #fff;
text-align: center;
position: relative;
font-size: 17px;
padding: 10px;
background: rgba(0, 0, 0, 0.9);
margin: 20px 0 0 0
}

.contenedor-img a.link {
display: inline-block;
text-decoration: none;
padding: 7px 14px;
background: #222;
color: #fff;
text-transform: uppercase;
box-shadow: 0 0 1px #000
}
.contenedor-img a.link:hover {
box-shadow: 0 0 5px #000
}

/*FOOTER*/
footer{
	width: 1000px;
	height: 60px;
	background: #333;
	display: block;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	color:white; 
}

footer p{
	float: left;
	margin-left: 20px;
}

footer ul{
	list-style:none;
	float: left;
	margin-top: 10px;
	float: right;
}

footer img{
	height: 40px;
	width: 40px;
	box-shadow: none;
	border-radius: 8px 8px;
}

li{
	float: left;
	list-style-type: none;
	padding-right: 5px;
}

/*Otros*/
.container h2 {
    font-size: 43px;

    text-align: center;
	padding: 5px 10px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 50px;
	display: inline-block;
	background: #31a7c4;
	color: white;
}