#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
}

header, section, footer, aside, nav, article, figure {
    display: block; 
}

body{
	background: white;	
}

img {
    max-width: 100%;
    height: auto;
}

ul{
	margin: auto;
}

li{
	float: left;
	list-style-type: none;
	padding: 7px;
	border-radius: 10px;
}

/*HEADER*/

header{
	width: 1000px;
	height: 120px;
	margin-top: 10px;
	background:url(../img/header.jpg);
	background-repeat: repeat;
	border-top-left-radius: 10px;
	border-top-right-radius:; 10px;
}

/*NAV*/

nav{
	width: 1000px;
	height: 50px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
	float: left;
	background:url(../img/menu-spacer.gif) 0 8px no-repeat;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

/*SECTION*/

section{
	width: 700px;
	height: 700px;
	float: left;
	border-radius: 10px;
}

article{
	width: 700px;
	background: #efefef;
	height: 340px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
}

/*ASIDE*/

aside{
	width: 280px;
	background: #efefef;
	height: 700px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
}

.contenedor {
	padding: 20px 0px 230px 0px;
	list-style: none;
	text-align: center;
}

.contenedor li{
	display: inline-block;
	width: 260px;
	margin: 0;
	padding: 10px;
	text-align: left;
	position: relative;
}

.contenedor figure {
    margin: 0;
    position: relative;
}
.contenedor figure img {
    display: block;
    position: relative;
    width: 260px;
}
.contenedor figcaption {
    position: relative;
    top: 0;
    left: 0;
    padding: 0px;
    background: #666666;
    color: #ed4e6e;
}
figcaption a {
    color: #DDDDDD;
    display: block;
    margin: 12px 0;
}

.contenedor figcaption h3 {
    border-bottom: 1px solid #777777;
    color: #FFFFFF;
    margin: 0;
    padding: 0 0 5px;
}

/*FOOTER*/
footer{
	width: 1000px;
	height: auto;
	background: #333;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	color:white; 
}
footer p{
	display: inline-block;
	float: left;
	margin-left: 20px;
}

footer ul{
	list-style:none;
	display: inline-block;
	margin-top: 10px;
	float: left;
}

footer img{
	height: 40px;
	width: 40px;
	box-shadow: none;
	border-radius: 8px 8px;
}



